.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


.center {
  display: flex;
  justify-content: center;
}

body {
  background: url(./static/imgs/bg_cloudy.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}
